html {
  height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.03em;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

h1 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-align: center;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-align: center;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.03em;
}

h4 {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.03em;
}

h5 {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.03em;
  width: fit-content;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
  
  letter-spacing: 0.03em;
}

p {
  padding: 0;
  margin: 0;
  letter-spacing: 0.03em;
  line-height: 21px;
}

.show_more_btn {
  height: 48px;
  width: 198px;
  background-color: #D9D9D9;
  padding: 0;
  border: none;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  color: black;
}

label {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.03em;
  text-align: justify;
  line-height: 150%;
}

.star {
  width: 18px;
  height: 18px;
}