.footer {
  width: 100%;
  min-width: 380px;
  box-shadow: 0px -3px 5px var(--color-text);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upper_footer {
  width: 100%;
  min-width: 380px;
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
}

.footer_content {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.link_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 18px;
}

.phones {
  display: flex;
  flex-direction: column;
  justify-content: start;
  
  line-height: 21px;
}

.map {
  min-width: 150px;
  max-width: 300px;
  height: 237px;
  border-radius: 12px;
  border: none;

  position: relative;
  box-shadow: 0px 0px 0px 0px var(--color-text);
  transition: box-shadow 0.3s linear, margin 0.3s linear;
}

.under_footer {
  height: 81px;
  width: 100%;
  background-color: #FA4862;
  min-width: 380px;
  display: flex;
  justify-content: center;
}

.social {
  max-width: 1440px;
  width: inherit;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.region_description {
  display: flex;
  gap: 6px;
  font-size: 15px;
  font-weight: bold;
  color: var(--color-bg);
  position: relative;
}

.region_description::after {
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  position: absolute;
  content: '';
  background-color: var(--color-bg);
  transition: 0.6s;
  transform: translate(-50%);
  left: 50%;
}

.region_description:hover {
  color: var(--color-bg);
}

.region_description:hover:after {
  width: 100%;
}

.separator {
  width: 2px;
  height: 18px;
  background-color: var(--color-bg);
}

.icons {
  display: flex;
  gap: 24px;
}

.social_media {
  height: 24px;
  width: auto;
  transition: transform 0.15s;
  cursor: pointer;
}

.social_media:hover {
  transform: scale(1.3);
}

.footer_logo {
  transition: transform 0.15s;
}

.footer_logo:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 852px) {
  .footer_logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .link_block {
    gap: 17px;
  }
}


@media screen and (max-width: 720px) {
  .footer_content {
    justify-content: start;
    flex-wrap: wrap;
    gap: 24px;
  }
}

@media screen and (max-width: 462px) {
  .social {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
    height: 87px;
  }

  .under_footer {
    height: fit-content;
  }
}

@media screen and (max-width: 380px) {
  .link_block {
    gap: 15px;
  }

  .link_title {
    font-size: 15px;
  }

  .footer_link {
    font-size: 12px;
  }

  .footer_content {
    flex-direction: column;
    align-items: start;
  }

  .phones {
    line-height: 17px;
  }
}


.footer_link {
  position: relative;
}

.footer_link::after {
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  position: absolute;
  content: '';
  background-color: #FA4862;
  transition: 0.6s;
  transform: translate(-50%);
  left: 50%;
}

.footer_link:hover {
  color: #FA4862;
}

.footer_link:hover:after {
  width: 100%;
}

.map:hover { 
  box-shadow: 0px 0px 0px 3px; 
}