.content {
  width: 100%;
  min-width: 380px;
  display: flex;
  justify-content: center;
}

.page_content {
  margin-top: 60px;
  margin-bottom: 0;
  max-width: 1440px;
  min-width: 380px;
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 51px;
  padding-right: 51px;
  gap: 78px;
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carousel {
  width: 100%;
  max-width: 846px;
  max-height: 636px;
  height: 44.167vw;
  display: flex;
  gap: 18px;
}

.item_cards {
  width: 60px;
  min-width: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow: hidden;
}

.carousel_cards {
  position: relative;
  top: 0px;
  width: 60px;
  min-width: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: top 0.3s;
}


.card_options {
  width: 60px;
  height: 60px;
  min-height: 60px;
  min-width: 60px;
  background-color: #D9D9D9;
  border-radius: 6px;
  cursor: pointer;

  position: relative;
  box-shadow: 0px 0px 0px 0px black;
  transition: box-shadow 0.3s linear, transform 0.3s;
}

.card_options:hover { 
  box-shadow: 0px 0px 0px 3px; 
  transform: scale(0.9);
}

.item_container {
  height: 100%;
  max-width: 768px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 18px;
  position: relative;
  margin-right: 18px;
}

.carousel_btn {
  width: 48px;
  height: 48px;
  min-width: 21px;
  min-height: 21px;
  border-radius: 24px;
  background-color: var(--color-bg);
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-box-shadow: 0 0 6px var(--color-text);
  -webkit-box-shadow: 0 0 6px var(--color-text);
  box-shadow: 0 0 6px var(--color-text);
  transition: transform 0.15s;
}

.carousel_btn:hover {
  transform: scale(1.1);
}

.favorites_btn {
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 0.15s;
}

.carousel_btn:hover {
  transform: scale(1.1);
}

.item_img {
  max-width: 636px;
  max-height: 636px;
  width: 44.167vw;
  height: 44.167vw;
  background-color: #D9D9D9;
  border-radius: 12px;
  position: relative;
  box-shadow: 0px 0px 0px 0px var(--color-text);
  transition: box-shadow 0.3s linear;
}

.item_img.animate {
  animation: opacity 0.2s linear;
}

@keyframes opacity {
  0% { opacity: 1 }
  50% { opacity: 0 }
  100% { opacity: 1 }
}


.item_img:hover { 
  box-shadow: 0px 0px 0px 3px; 
}

.item_description {
  width: 29.79vw;
  max-width: 429px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 33px;
}

.value {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.remain {
  width: 100%;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 9px;
}

.cost {
  text-align: start;
}

.item_label {
  width: 100%;
}

.shop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 24px;
  gap: 12px;
}

.stars {
  width: 102px;
  height: 18px;
  display: flex;
  gap: 3px;
}

.add_to_cart_btn {
  width: 100%;
  height: 45px;
  background-color: #FA4862;
  padding: 0;
  border: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  border-radius: 24px;
  font-size: 15px;
  transition: transform 0.15s;
}

.add_to_cart_btn:hover {
  transform: scale(1.05);
}

.reviews_block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  max-width: 912px;
}

.reviews_header {
  width: 100%;
  height: 96px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 30px;
}

.reviews_number {
  display: flex;
  width: fit-content;
  gap: 9px;
  height: 27px;
  align-items: center;
}

.rev_amount {
  font-size: 24px;
}

.rev_pannel {
  height: 39px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.rev_switcher {
  display: flex;
  max-width: 447px;
  width: 100%;
  align-items: center;
  height: 100%;
}

.rev_btn {
  width: 50%;
  height: 39px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg);
  padding: 0;
  margin: 0;
  border: none;
}

.item_review {
  height: 24px;
  width: 100%;
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s;
}

.item_review:hover {
  .item_rev_amount {
    transform: scale(1.2);
  }
}

.item_rev_amount {
  font-size: 15px;
  height: 24px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 12px;
  background-color: #D9D9D9;
  color: var(--color-bg);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s;
}

.underline {
  height: 3px;
  width: 100%;
  background-color: #D9D9D9;
}

.filter {
  background-color: var(--color-bg);
  padding: 0;
  border: none;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  gap: 3px;
  transition: transform 0.15s;
  
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.filter:hover {
  transform: scale(1.08);
}

.filter_arrow {
  width: 9px;
  height: 6px;
}

.rev_header_bottom {
  background-color: #D9D9D9;
  position:absolute;
  bottom: 0;
  left: 0;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.review {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 9px;
}

.rev_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 9px;
  max-width: 456px;
  padding-right: 18px;
  padding-left: 18px;
}

.name {
  width: fit-content;
  height: 24px;
  display: flex;
  gap: 9px;
  align-items: center;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.rev_date {
  color: #9A9A9A;
}


@media screen and (max-width: 930px) {
  .item {
    flex-direction: column;
    gap: 45px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .item_description {
    width: 55.86vw;
    min-width: 344px;
  }
}

@media screen and (max-width: 768px) {
  .page_content {
    margin-top: 45px;
    gap: 45px;
    padding-left: 0;
    padding-right: 0;
  }

  .carousel {
    max-width: 708px;
    max-height: 546px;
    height: calc(100vw - 126px - 6.25vw - 6.25vw);
  }

  .item_container {
    margin-right: 0;
    gap: 9px;
  }

  .item_img {
    width: 67.19vw;
    width: calc(100vw - 126px - 6.25vw - 6.25vw);
    height: calc(100vw - 126px - 6.25vw - 6.25vw);
  }
  
  .carousel_btn {
    width: 6.25vw;
    height: 6.25vw;
  }

  .fav_icon {
    width: 4.167vw;
  }


  .reviews_number {
    margin-left: 18px;
  }

  .reviews {
    padding-left: 15px;
    padding-right: 15px;
  }

  .item_label {
    line-height: 150%;
  }

  .item_description {
    gap: 30px;
  }
}

@media screen and (max-width: 567px) {
  .rev_pannel {
    flex-wrap: wrap;
    gap: 9px;
  }
  .filter {
    padding-left: 33px;
  }
}

@media screen and (max-width: 380px) { 
  .carousel {
    max-width: 708px;
    max-height: 546px;
    height: 258px;
    gap: 6px;
  }

  .item_cards {
    width: 36px;
    min-width: 36px;
  }

  .carousel_cards {
    width: 36px;
    min-width: 36px;
  }
  
  .card_options {
    min-width: 36px;
    min-height: 36px;
    width: 36px;
    height: 36px;
  }

  .item_container {
    width: 302px;
    justify-content: space-between;
    padding-right: 6px;
  }

  .item_img {
    width: 234px;
    height: 234px;
  }

  .favorites_btn {
    right: 6px;
  }

  .page_content {
    gap: 30px;
    margin-top: 12px;
  }

  .item_description {
    gap: 18px;
  }

  .value {
    gap: 15px;
  }
  
  .reviews_number {
    margin-left: 18px;
    height: 22px;
  }

  .reviews {
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 18px;
    gap: 18px;
  }

  .item {
    gap: 18px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .rev_amount {
    font-size: 18px;
  }

  .reviews_header {
    gap: 15px;
  }

  .ref_switch_text {
    font-size: 12px;
  }

  .rev_btn {
    height: 33px;
  }

  .rev_pannel {
    height: 33px;
  }
}